@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a:hover {
        color: #f9c40d;
        cursor: pointer;
    }
    h1,h2,h3,h4,h5,h6{
        letter-spacing: 1px;
    }
    button:focus {
        outline: 0;
    }
    .bg-black-400,
    .text-black-400 {
        background-color: #000000;
    }
    .bg-maroon-400 {
        background-color: #800000;
    }
    
}