@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    a:hover {
        color: #f9c40d;
        cursor: pointer;
    }
    h1,h2,h3,h4,h5,h6{
        letter-spacing: 1px;
    }
    button:focus {
        outline: 0;
    }
    .bg-black-400,
    .text-black-400 {
        background-color: #000000;
    }
    .bg-maroon-400 {
        background-color: #800000;
    }
    .bg-green-400 {
        background-color: rgba(52, 211, 153) !important;
    }
    .bg-pink-400 {
        background-color: rgba(244, 114, 182) !important;
    }
    .bg-yellow-400 {
        background-color: rgba(251, 191, 36) !important;
    }
    .bg-blue-400 {
        background-color: rgba(96, 165, 250) !important;
    }
    .bg-red-400 {
        background-color: rgba(248, 113, 113) !important;
    }
    .bg-purple-400 {
        background-color: rgba(167, 139, 250) !important;
    }
    .bg-beige-400 {
        background-color: rgba(245, 245, 220);
    }
    .bg-brown-400 {
        background-color: rgba(162, 42, 42);
    }
    .bg-gold-400 {
        background-color: rgb(212,175,55);
    }
    .bg-grey-400 {
        background-color: rgba(220, 220, 220);
    }
    .bg-mustard-400 {
        background-color: rgba(255, 219, 88);
    }
    .bg-orange-400 {
        background-color: rgba(255, 102, 0);
    }
    .bg-peach-400 {
        background-color: rgba(255, 195, 177);
    }
    .bg-teal-400 {
        background-color: rgba(0, 128, 128);
    }
    .bg-white-400 {
        background-color: rgba(255, 255, 255);
    }
    
}