
/* Top Slider */
.banner {
    height: 35vw;
}
.slides .slick-prev,
.slides .slick-next {
    position: absolute;
    top: 50%;
    z-index: 99999;
    color:black;
}

.slides .slick-prev {
    left: 3%;
}
.slides .slick-next {
    right: 3%;
}
.slides .slick-prev:before,
.slides .slick-next::before {
   color: #000000;
}